page-login {
    .login, .item{
        background-color: #103663;
    }
    h2, .label{
        color: white !important;
    }

    .item-md.item-input .item-inner {
        border-bottom-color: white !important;
    }

}
