page-login {
    .login, .item{
        background-color: #103663;
    }
    h2, .label{
        color: white !important;
    }

    .item-md.item-input .item-inner {
        color:white !important;
    }

    ion-img{
        background: rgba(255, 255, 255, 0);
    }

    .passwordIcon{
        font-size:2rem !important;
        position: relative !important;
        top: 22px !important;
        margin: 0 auto !important;
    }
}
