<ion-header no-border>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="filtros()" >
        <ion-icon name="options"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="cards-bg">
  <ion-refresher (ionRefresh)="forceReload($event)">
    <ion-refresher-content refreshingText="Recargando desde API...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-card *ngFor="let vehiculo of vehiculos" class="adv-map">
    <div style="position: relative">
      <img 
        *ngIf="vehiculo.fotos.length > 0" 
        [src]="'https:\\ciroautomotores.com.ar'+vehiculo.fotos[0].archivo+'?p=small'"
        (click)="ver(vehiculo)"/>
      <!--
      <ion-fab right down>
        <button ion-fab (click)="ver(vehiculo)">
          <ion-icon name="open"></ion-icon>
        </button>
      </ion-fab>
      -->
    </div>
    <ion-card-content>
      <div class="subtittle" >
          <h4><b>{{vehiculo.marca.nombre}}</b></h4>
          <i>Agregado:{{vehiculo.created_at | date:'dd/MM/yyyy' }}</i>
      </div>
      <ion-card-title>
        {{vehiculo.modelo}}
      </ion-card-title>
      <p>
        PRECIO VENTA: {{vehiculo.precio_venta | currency:'ARG' }}
      </p>
      <p>
        ENTREGA MINIMA: {{vehiculo.calculo_entrega_minima | currency:'ARG' }}
      </p>
      <p>
        CREDITO: {{vehiculo.calculo_credito | currency:'ARG' }}
      </p>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start (click)="ver(vehiculo)">
          <ion-icon name='open'></ion-icon>
          Ver
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start (click)="compartir(vehiculo)">
          <ion-icon name='share-alt'></ion-icon>
          Compartir
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="searchTerm" (search)="buscar($event)" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-footer>