<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row >
    <h2 text-center>Bienvenido a Ciro Automotores</h2>
  </ion-row>
  <ion-row>
    <h3>Ultimas noticias</h3>
  </ion-row>
  <p *ngIf="notificaciones.length == 0" >
    No hay Noticias.
  </p>
  <ion-card *ngFor="let item of notificaciones" class="adv-map">
    <ion-card-content (click)="openUrl(item.url)" >
      <ion-card-title>
        {{item.titulo}}
      </ion-card-title>
      <h3>Agregado: {{item.created_at | date:'dd/MM/yyyy' }}</h3>
      <p>{{item.mensaje}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
