<ion-header>
  <ion-toolbar>
    <ion-title>
      Filtros
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="close()">
        <span ion-text color="primary" showWhen="ios">Cancelar</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <h4>Marcas Disponibles</h4>
  <ion-row justify-content-center	>
    <button class="button-badge"
      ion-button 
      small round
      [outline]="marca.id == seleccionado?false:true"
      *ngFor="let marca of marcas" 
      (click)="filtrarMarca(marca.id)" >
      {{marca.nombre}} 
      <ion-badge class="button-badge-quantity" small round color="dark">{{marca.cantidad}}</ion-badge>
    </button>
  </ion-row>
</ion-content>