<ion-split-pane>

  <!-- logged out menu -->
  <ion-menu id="loggedOutMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Ciro Automotores</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon [name]="p.icon"></ion-icon> {{p.title}}
        </button>
        <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
          <ion-icon [name]="p.icon"></ion-icon> {{p.title}}
        </button>
      </ion-list>

    </ion-content>

  </ion-menu>

  <!-- logged in menu -->
  <ion-menu id="loggedInMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Ciro Automotores</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">
      <div class="menu-header" *ngIf="user" >
        <!--material-design-background-->
        <img 
          class="user-avatar round"
          [src]="'https://ciroautomotores.com.ar/perfil/'+user.empleado.fotoperfil"
          onerror="this.src='assets/imgs/no-disponible.png'" />
        <p class="name">{{user.individuo.apellido}} {{user.individuo.nombre}}</p>
        <p class="e-mail">{{user.email}}</p>
      </div>
      
      <ion-list>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon [name]="p.icon"></ion-icon> {{p.title}}
        </button>
        <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
          <ion-icon [name]="p.icon"></ion-icon> {{p.title}}
        </button>
      </ion-list>

    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>