page-vehiculo {
    img {
        object-fit: cover !important;
    }
    ion-slides{
        display: flex;
        flex-direction: row;
    }
      
    ion-slides.slides {
        box-sizing: border-box;
        height: 50vh !important;
      }
      
      .swiper-pagination {
        bottom: 0px;
      }
}
